{% assign proficiency = site.data.data.proficiency %}
{% if skills %}
<div class="interests-container container-block">

  <h2 class="proficiency-block-title">
    Interests
  </h2>
  <div class="skillset">

    {% for proficiency in proficiency.toolset %}
  <div class="item">

    <h3 class="level-title">{{ skill.name }}</h3>

    <div class="level-bar">
      <div class="level-bar-inner" data-level="{{ skill.level }}">
      </div>
    </div><!--//level-bar-->

  </div><!--//item-->
    {% endfor %}

</div>
{% endif %}
